// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar{
	margin-bottom: 15px;
}

.row{
	margin-top: 10px;
	.card{
		text-align: center;
		.btn {
			margin-bottom:5px;
		}
		img{
			width: 100%;
		}
	}
}

